{% extends "::base.html.twig" %}

{% block body %}
    <!-- Right side column. Contains the navbar and content of the page -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row" id="start-and-stop">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner start">
                            <h3>Start</h3>
                            <p>Lancer</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-checkmark-circled"></i>
                        </div>
                        <a href="javascript:" class="small-box-footer" id="start">Go <i
                                    class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-grey">
                        <div class="inner restart">
                            <h3>Restart</h3>
                            <p>Redémarrer</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-refresh"></i>
                        </div>
                        <a href="javascript:" class="small-box-footer" id="restart">Go <i
                                    class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner stop">
                            <h3>Stop</h3>
                            <p>Eteindre</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-close-circled"></i>
                        </div>
                        <a href="javascript:" class="small-box-footer" id="stop">Go <i
                                    class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div><!-- ./col -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- TABLE: LATEST ORDERS -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 id="saves-title" class="box-title">Sauvegardes des parties <i class="ion ion-refresh" id="refresh-saves"></i></h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table no-margin" id="saves-table">
                                    <thead>
                                    <tr>
                                        <th><span>Nom</span><span>Dernière utilisation</span><span>Charger une sauvegarde</span></th>
                                    </tr>
                                    </thead>
                                    <tbody id="saves">
                                    {% for file in files %}
                                        <tr>
                                            <td>{{  file['name'] }}</td>
                                            <td><span class="label label-success">{{ file['time'] }}</span></td>
                                            <td><span class="label label-info" id="{{  file['name'] }}">Charger</span></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div><!-- /.table-responsive -->
                        </div><!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <input type="text" name="message" placeholder="MaSuperPartie ..." class="form-control" id="savename-input">
                            <a href="javascript:" class="btn btn-sm btn-info btn-flat pull-left" id="save-creation-button">Créer une nouvelle partie</a>
                        </div><!-- /.box-footer -->
                    </div><!-- /.box -->
                </div><!-- /.row -->
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var request = null;
    </script>
    <script src="{{ asset('lib/local/js/startAndStop.js') }}"></script>
    <script src="{{ asset('lib/local/js/createGame.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#start-and-stop').startAndStop({
                startUrl: '{{ path('fwv_manager_start_server') }}',
                restartUrl: '{{ path('fwv_manager_restart_server') }}',
                stopUrl: '{{ path('fwv_manager_stop_server') }}',
                savesUrl: '{{ path('fwv_manager_get_saves') }}'
            });
            $('#save-creation-button').createGame({
                createUrl: '{{ path('fwv_manager_create_game') }}',
                savesUrl: '{{ path('fwv_manager_get_saves') }}'
            });
            var savesWidget = $("#save-creation-button").data("custom-createGame");
            $('#saves-title').on('click', 'i', function () {
                savesWidget.saves('{{ path('fwv_manager_get_saves') }}');
            });
            var manageWidget = $('#start-and-stop').data('custom-startAndStop');
            $('#saves').on('click', 'tr td .label.label-info', function() {
                manageWidget.start(this.id);
            });
        });
    </script>
{% endblock %}