{% extends "::base.html.twig" %}

{% block dashboard_list_item %}<li class="active">{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Dashboard
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>
        <section class="content">
            <div class="row" id="start-and-stop">
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-green">
                        <div class="inner start">
                            <h3>Start</h3>
                            <p>Launch</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-checkmark-circled"></i>
                        </div>
                        <a href="javascript:" class="small-box-footer" id="start">Go <i
                                    class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-grey">
                        <div class="inner restart">
                            <h3>Restart</h3>
                            <p>Reboot</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-refresh"></i>
                        </div>
                        <a href="javascript:" class="small-box-footer" id="restart">Go <i
                                    class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-red">
                        <div class="inner stop">
                            <h3>Stop</h3>
                            <p>Shutdown</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-close-circled"></i>
                        </div>
                        <a href="javascript:" class="small-box-footer" id="stop">Go <i
                                    class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 id="saves-title" class="box-title">Game saves <i class="ion ion-refresh" id="refresh-saves"></i></h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive" style="overflow-x: auto;">
                                <table class="table no-margin" id="saves-table">
                                    <thead>
                                    <tr>
                                        <th><span>Name</span><span>Last usage</span><span>Load saves</span></th>
                                    </tr>
                                    </thead>
                                    <tbody id="saves">
                                    {% for file in files %}
                                        <tr>
                                            <td>{{  file['name'] }}</td>
                                            <td><span class="label label-success">{{ file['time'] }}</span></td>
                                            <td><span class="label label-info" id="{{  file['name'] }}">Load</span></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box-footer clearfix">
                            <input type="text" name="message" placeholder="MyGreateGame ..." class="form-control" id="savename-input">
                            <a href="javascript:" class="btn btn-sm btn-info btn-flat pull-left" id="save-creation-button">Create a new game</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header">
                    <i class="fa fa-folder"></i>
                    <h3 class="box-title">Install Factorio (Factorio-headless.tar.xz)</h3>
                </div>
                <div class="box-body" id="file-upload-div">
                    {{ form_start(form, { 'action': path('fwv_manager_upload_game') }) }}
                    <div class="form-group">
                        {{ form_label(form.tarball) }}
                        {{ form_errors(form.tarball) }}
                        {{ form_widget(form.tarball, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="box-footer clearfix">
                        <button type="submit" class="pull-right btn btn-default" id="install-button">Send <i class="fa fa-arrow-circle-right"></i></button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('lib/local/js/startAndStop.js') }}"></script>
    <script src="{{ asset('lib/local/js/createGame.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#start-and-stop').startAndStop({
                startUrl: '{{ path('fwv_manager_start_server') }}',
                restartUrl: '{{ path('fwv_manager_restart_server') }}',
                stopUrl: '{{ path('fwv_manager_stop_server') }}',
                savesUrl: '{{ path('fwv_manager_get_saves') }}'
            });
            $('#save-creation-button').createGame({
                createUrl: '{{ path('fwv_manager_create_game') }}',
                savesUrl: '{{ path('fwv_manager_get_saves') }}'
            });
            var savesWidget = $("#save-creation-button").data("custom-createGame");
            $('#saves-title').on('click', 'i', function () {
                savesWidget.saves('{{ path('fwv_manager_get_saves') }}');
            });
            var manageWidget = $('#start-and-stop').data('custom-startAndStop');
            $('#saves').on('click', 'tr td .label.label-info', function() {
                manageWidget.start(this.id);
            });
        });
    </script>
{% endblock %}